@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

footer{
	margin-top: 1em;
	text-align: right;
}

ol:last-of-type{
	list-style-type: lower-alpha;
}

table{
	border-collapse: collapse;
	margin: 1em auto;
}

th:first-child{
	text-align: initial;
}

#chapter-2 q{
	font-style: italic;
}

#chapter-6 table td:first-child::after,
#chapter-11 table td:first-child::after,
#chapter-12 table td:first-child::after{
	content: " . . . . . . . . . . . ";
	float: right;
	padding-left: .25em;
	padding-right: .25em;
}

#chapter-10 table td:first-child{
	padding-right: 1em;
}

#chapter-10 table td:nth-child(3){
	padding-left: 1em;
	text-align: right;
}

#chapter-10 table tr:nth-child(2) td:nth-last-child(-n+3){
	border-bottom: 1px solid;
	border-spacing: 0;
}

#chapter-11 blockquote:nth-of-type(2) p:last-child,
#chapter-11 blockquote:nth-of-type(3) p:last-child,
#chapter-11 blockquote:nth-of-type(4) p:last-child{
	padding-left: 5em;
	text-transform: uppercase;
}

#chapter-11 blockquote:nth-of-type(6),
#chapter-11 q{
	text-transform: uppercase;
}

.telegram{
	font-variant: all-small-caps;
}

#chapter-19 header{
	font-style: italic;
	margin: 1em 0 1em;
	text-align: initial;
}

#chapter-19 header + p{
	margin-top: 0;
	text-indent: 1em;
}
