@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

footer{
	margin-top: 1em;
	text-align: right;
}

ol:first-of-type{
	counter-reset: num;
	list-style: none;
	list-style-position: inside;
	margin-top: 0;
}

ol:first-of-type li{
	counter-increment: num;
	display: flex;
	padding-left: 1em;
	text-indent: -1.5em;
}

ol:first-of-type li::before{
	content: "(" counter(num) ")";
	margin-right: .5em;
}

ol:nth-of-type(2){
	counter-reset: item;
	list-style: none;
	list-style-position: inside;
	list-style-type: lower-alpha;
	margin-top: 0;
}

ol:nth-of-type(2) li{
	counter-increment: item;
	display: flex;
	padding-left: 1em;
	text-indent: -1.5em;
}

ol:nth-of-type(2) li::before{
	content: "(" counter(item, lower-alpha) ")";
	font-style: italic;
}

table{
	border-collapse: collapse;
	margin: 1em auto;
}

th:first-child{
	text-align: left;
}

#chapter-6 table td:first-child::after,
#chapter-11 table td:first-child::after,
#chapter-12 table td:first-child::after{
	content: " . . . . . . . . . . . ";
	float: right;
	padding-left: .25em;
	padding-right: .25em;
}

.advertisement{
	font-variant: all-small-caps;
}

.calculations{
	margin: 1em auto;
}

.calculations td.n{
	text-align: right;
}

.calculations td.w{
	padding-right: 1em;
}

.excerpt{
	font-style: italic;
	margin: 1em 0;
	text-indent: 0;
}

.telegram{
	font-variant: all-small-caps;
}

#chapter-19 p:nth-of-type(52){
	margin: 0;
	padding-top: 1em;
	text-indent: 1em;
}
