@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

.advertisement{
	font-variant: all-small-caps;
}

.excerpt{
	font-style: italic;
	margin: 1em 0;
	text-indent: 0;
}

.telegram{
	font-variant: all-small-caps;
}
